<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px5 px-sm-0 mx-auto">
      <h2>User info</h2>
      <% if @user.errors.any? %>
      <div id="error_explanation" class="alert alert-danger">
        <ul>
          <% @user.errors.full_messages.each do |message| %>
          <li>error!<%= message %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
      <%= form_with model:@user, local:true do |f| %>
      <label for="inputName">Name</label>
      <div><%= f.text_field :name, autofocus: true, id:"inputName"%></div>
      <div><label for="inputImage">Image</label></div>
      <%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %>
  　   <div><label for="inputBody">Introduction</label></div>
  　   <%= f.text_area :introduction, autofocus: true, id:"inputBody"%>
      <div><%= f.submit "Update User", class: 'btn btn-secondary' %></div>
      <% end %>
    </div>
  </div>
</div>